@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Binggrae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #1f1f1f;
  line-height: 30px;
  letter-spacing: -0.09em;
  word-break: break-all;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

.wrap > * {
  width: 100%;
}

.visual {
  padding: 180px 0;
  text-align: center;
  background: url(../../images/layout/section_visual/pc_section01_3.jpg) no-repeat center/cover;
}
.visual .inner {
  display: block;
  position: relative;
}
.visual .inner .visual-search {
  padding-top: 40px;
  display: inline-block;
  margin: 0 auto;
}
.visual .inner .visual-search .visual-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 0 46px;
  height: 80px;
  width: 1020px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
}
.visual .inner .visual-search .visual-search-bar .visual-search-search {
  height: 100%;
  width: 78%;
  padding-left: 30px;
  font-size: 17px;
  letter-spacing: -0.85px;
  text-align: left;
  background: url(../../images/layout/image_icon/search_icon.png) no-repeat center left;
  border: 0;
  outline: none;
}
.visual .inner .visual-search .visual-search-bar .visual-search-bt {
  width: 180px;
  height: 55px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: 27.5px;
  box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  cursor: pointer;
}
.visual .inner .visual-hashtag {
  margin-top: 25px;
}
.visual .inner .visual-hashtag ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 7px;
}
.visual .inner .visual-hashtag ul li {
  font-size: 12px;
  height: 37px;
  line-height: 37px;
  width: 120px;
  border-radius: 18.5px;
  border: 1px solid #edecef;
  cursor: pointer;
}