@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("font/font.css");
@font-face {
  font-family: "Binggrae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #1f1f1f;
  line-height: 30px;
  letter-spacing: -0.09em;
  word-break: break-all;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

.wrap > * {
  width: 100%;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 148px;
  z-index: 9999;
}
.header-top {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.header-top .inner {
  width: 1760px;
  height: 31px;
}
.header-link {
  float: right;
}
.header-link > li {
  position: relative;
  display: block;
  float: left;
  padding: 0 9px;
}
.header-link > li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 11px;
  width: 2px;
  height: 8px;
  background: rgba(0, 0, 0, 0.3);
}
.header-link > li:last-child {
  padding-right: 0;
}
.header-link > li:first-child::before {
  content: none;
}
.header-link > li > a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
}
.header-link > li > a::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: -2px;
  background: url("../images/layout/image_icon/link_arrow02.png");
  margin-left: 5px;
}

.header-main {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  z-index: 999;
}
.header-main .inner {
  width: 1760px;
  height: 116px;
  display: flex;
  align-items: center;
}
.header-logo {
  position: absolute;
  left: 0;
  display: block;
  width: 144px;
  height: 35px;
  font-size: 0;
  background: url("../images/layout/header/logo-pc.png");
}

.header-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: block;
  opacity: 1;
  visibility: visible;
}
.header-gnb {
  position: relative;
  display: flex;
}
.header-gnb > li {
  position: relative;
  padding: 48px 0px;
  margin-right: 80px;
}
.header-gnb > li:hover > a {
  color: #e0462e;
  border-bottom: 2px solid #e0462e;
}
.header-gnb > li:hover > a:hover::after {
  content: "";
}
.header-gnb > li:hover a::after {
  content: "";
}
.header-gnb > li > a {
  position: relative;
  padding-bottom: 40px;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
  transition: color 0.5s;
}
.header-gnb > li > a::after {
  content: none;
  position: absolute;
  right: -10px;
  top: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #e0462e;
}
.header-gnb > li .depth2 {
  position: absolute;
  display: block;
  left: 0;
  top: 118px;
  padding: 17px 0 36px 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2.5s;
}
.header-gnb > li .depth2 > li > a {
  display: block;
  padding: 7px 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  white-space: nowrap;
  transition: color 0.5s;
}
.header-gnb > li .depth2 > li > a:hover {
  color: #e0462e;
}
.header-gnb > li .depth2-on {
  opacity: 1 !important;
  visibility: visible !important;
}

.header-main-right {
  position: absolute;
  right: 0;
}
.header-lang {
  position: relative;
  float: left;
}
.header-lang > .lang-button {
  display: block;
  padding: 3px 0;
  border: 0;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.header-lang > .lang-button::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 10px;
  height: 5px;
  vertical-align: 2px;
  background: url("../images/layout/image_icon/lang_btn.png");
  margin-left: 10px;
}
.header-lang > .lang-list {
  position: absolute;
  left: 0;
  top: 30px;
  background: #fff;
  border-radius: 18px;
  padding: 9px 0;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.05);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.header-lang > .lang-list > li {
  text-align: center;
}
.header-lang > .lang-list > li > a {
  padding: 9px 16px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}
.header-lang > .lang-list-on {
  transform: scaleY(1);
}

.header-hamburger {
  display: block;
  width: 26px;
  height: 22px;
  border: 0;
  background: transparent;
  margin-left: 33px;
  cursor: pointer;
  float: left;
}
.header-hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background: #000;
  margin-top: 8px;
  transition: all 0.3s;
}
.header-hamburger > span:first-child {
  margin-top: 0;
}

.header-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 198px;
  border-radius: 0 0 50px 50px;
  background: #fff;
  box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transition: height 0.5s;
  z-index: 9999;
}

.header-bg-open {
  opacity: 1;
  visibility: visible;
  height: 573px;
}

.hamburger-menu {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("../images/layout/header/pc_ham_bg.png") no-repeat 100% -80px #fff;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.hamburger-gnb {
  display: flex;
  justify-content: space-between;
  width: 1580px;
  height: 460px;
}
.hamburger-gnb > li {
  width: calc(16.6666666667% - 5px);
  background: #fff;
  border: 1px solid #ececed;
  border-radius: 30px;
  padding: 50px 30px 20px 30px;
  transition: transform 0.5s;
}
.hamburger-gnb > li:hover {
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  transform: translateY(-10px);
}
.hamburger-gnb > li:hover > a {
  color: #e0462e;
}
.hamburger-gnb > li > a {
  font-family: "binggraebold";
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  transition: color 0.5s;
}
.hamburger-gnb > li > .depth2 {
  margin-top: 30px;
}
.hamburger-gnb > li > .depth2 > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
  transition: color 0.5s;
}
.hamburger-gnb > li > .depth2 > li > a:hover {
  color: #e0462e;
}
.hamburger-gnb > li > .depth2 > li > a:hover::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url("../images/layout/image_icon/m_link_arrow01_red.png") no-repeat;
  background-size: 13px 13px;
}
.hamburger-gnb > li > .depth2 > li > .depth3 {
  padding: 8px 0;
}
.hamburger-gnb > li > .depth2 > li > .depth3 > li > a {
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: normal;
  color: #343434;
}

.on {
  opacity: 1 !important;
  visibility: visible !important;
}

.off {
  opacity: 0 !important;
  visibility: hidden !important;
}

.hamburger-toggle span:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.hamburger-toggle span:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger-toggle span:nth-child(3) {
  opacity: 0;
  visibility: hidden;
}

.visual {
  padding: 180px 0;
  text-align: center;
  background: url(../images/layout/section_visual/pc_section01_3.jpg) no-repeat center/cover;
}
.visual .inner {
  display: block;
  position: relative;
}
.visual .inner .visual-search {
  padding-top: 40px;
  display: inline-block;
  margin: 0 auto;
}
.visual .inner .visual-search .visual-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 0 46px;
  height: 80px;
  width: 1020px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
}
.visual .inner .visual-search .visual-search-bar .visual-search-search {
  height: 100%;
  width: 78%;
  padding-left: 30px;
  font-size: 17px;
  letter-spacing: -0.85px;
  text-align: left;
  background: url(../images/layout/image_icon/search_icon.png) no-repeat center left;
  border: 0;
  outline: none;
}
.visual .inner .visual-search .visual-search-bar .visual-search-bt {
  width: 180px;
  height: 55px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: 27.5px;
  box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  cursor: pointer;
}
.visual .inner .visual-hashtag {
  margin-top: 25px;
}
.visual .inner .visual-hashtag ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 7px;
}
.visual .inner .visual-hashtag ul li {
  font-size: 12px;
  height: 37px;
  line-height: 37px;
  width: 120px;
  border-radius: 18.5px;
  border: 1px solid #edecef;
  cursor: pointer;
}
.cs .inner {
  position: relative;
  display: block;
  width: 1310px;
  margin: 0 auto;
  padding-top: 30px;
}
.cs .inner h3 {
  font-family: "binggraebold";
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #1f1f1f;
  margin-bottom: 40px;
}
.cs .inner .content-box {
  display: block;
  width: 100%;
  padding: 90px 40px;
  border-radius: 30px;
  box-shadow: 0 5px 24px 3px rgba(0, 0, 0, 0.1);
}
.cs .inner .content-box .cs-advice {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.email-box {
  width: 590px;
  height: 324px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
  padding: 50px 40px;
  position: relative;
  background: url(../images/layout/section_cs/sec04_backimg01.png);
  cursor: pointer;
}
.email-box h4 {
  font-family: "binggraebold";
  font-size: 32px;
  font-weight: normal;
  color: #1f1f1f;
  margin-bottom: 30px;
}
.email-box p {
  font-size: 16px;
}
.email-box .viewButton {
  position: absolute;
  display: block;
  width: 160px;
  text-align: center;
  line-height: 43px;
  background: #ed1c24;
  border-radius: 21px;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  bottom: 50px;
  left: 40px;
}

.tel-box {
  width: 590px;
  height: 324px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
  padding: 50px 40px;
  background: url(../images/layout/section_cs/sec04_backimg02.png);
}
.tel-box h4 {
  font-family: "binggraebold";
  font-size: 32px;
  font-weight: normal;
  color: #1f1f1f;
  margin-bottom: 30px;
}
.tel-box .tel {
  font-size: 46.5px;
  font-weight: 600;
  letter-spacing: -0.07em;
  color: #303030;
}
.tel-box p {
  padding-bottom: 25px;
  color: #1f1f1f;
  font-weight: bold;
}
.tel-box p span {
  color: #e0462e;
  margin-left: 15px;
}

.qna {
  position: relative;
}
.qna p {
  font-family: "binggraebold";
  font-size: 23px;
  font-weight: normal;
  padding: 60px 0 30px;
}
.qna .qna-more {
  position: absolute;
  top: 53px;
  right: 0;
  display: block;
  width: 160px;
  text-align: center;
  line-height: 43px;
  border-radius: 21px;
  color: #1f1f1f;
  font-size: 14px;
  border: 1px solid rgba(224, 223, 226, 0.6);
}
.qna .qna-more:hover {
  border: none;
  background-color: #ed1c24;
  color: #fff;
}
.qna-list li {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(50% - 26px);
  margin-bottom: 10px;
  background: #f9f9f9;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px rgba(121, 121, 121, 0.1);
  cursor: pointer;
}
.qna-list li:nth-child(2n) {
  float: right;
}
.qna-list li:nth-child(2n+1) {
  float: left;
}
.qna-list li a {
  font-size: 18px;
  line-height: 80px;
  margin-left: 18px;
}
.qna-list li .qna-icon {
  position: absolute;
  top: 50%;
  transform: scale(1) translateY(-50%);
  right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: #ed1c24;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.qna-list li .qna-icon:hover {
  display: block;
  transform: scale(0);
}

.report .inner {
  position: relative;
  display: block;
  width: 1310px;
  margin: 0 auto;
}
.report .inner h3 {
  font-family: "binggraebold";
  font-size: 38px;
  color: #1f1f1f;
  padding: 140px 0 45px;
  text-align: center;
}
.report .inner .report-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
.report .inner .report-list .cyber {
  position: relative;
  width: 630px;
  height: 230px;
  background: #f9f9f9;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px rgba(121, 121, 121, 0.1);
  cursor: pointer;
  padding-top: 80px;
}
.report .inner .report-list .cyber > p {
  font-size: 20px;
  text-align: center;
}
.viewButton {
  position: absolute;
  display: block;
  width: 160px;
  text-align: center;
  line-height: 43px;
  background: #ed1c24;
  border-radius: 21px;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.report .inner .report-list .safe {
  position: relative;
  width: 630px;
  height: 230px;
  background: #f9f9f9;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px rgba(121, 121, 121, 0.1);
  cursor: pointer;
  padding-top: 80px;
}
.report .inner .report-list .safe > p {
  font-size: 20px;
  text-align: center;
}
.viewButton {
  position: absolute;
  display: block;
  width: 160px;
  text-align: center;
  line-height: 43px;
  background: #ed1c24;
  border-radius: 21px;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.footer .inner {
  width: 100%;
  background: #1b1b1b;
  padding: 27px 45px;
}
.footer .inner .f-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .inner .f-top .f-top-right > a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 30px;
}
.footer .inner .f-top .f-top-right > a:last-child {
  margin-right: 0;
}
.footer .inner .f-main {
  padding: 30px 0 130px;
}
.footer .inner .f-main p {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 24px;
}
.footer .inner .f-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .inner .f-bottom .copy {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: -0.8px;
}
.footer .inner .f-bottom .f-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .inner .f-bottom .f-bottom-right .sns .sns-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .inner .f-bottom .f-bottom-right .sns .sns-list > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #1b1b1b;
  box-shadow: 4px 8px 1px rgb(0, 0, 0), inset 0px 4px 10px 2px rgba(73, 73, 73, 0.3);
  border-radius: 50%;
}
.footer .inner .f-bottom .flagship {
  position: relative;
  display: block;
  width: 355px;
  line-height: 70px;
  background: #1b1b1b;
  box-shadow: 4px 8px 1px rgb(0, 0, 0), inset 0px 4px 10px 2px rgba(73, 73, 73, 0.3);
  border-radius: 30px;
  margin-left: 60px;
  padding: 0 18px;
}
.footer .inner .f-bottom .flagship .flagship-btn {
  margin-right: 18px;
}
.footer .inner .f-bottom .flagship span {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
}
.footer .inner .f-bottom .flagship span::after {
  content: url("../images/layout/image_icon/select_btn01.png");
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  right: 20px;
}