@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("font/font.css");
@font-face {
  font-family: "Binggrae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #1f1f1f;
  line-height: 30px;
  letter-spacing: -0.09em;
  word-break: break-all;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

.wrap > * {
  width: 100%;
}

.top-button {
  position: fixed;
  right: 30px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}
.top-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #000;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
}
.top-button .shop-btn {
  background: #fff;
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06), inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14);
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.cs .inner {
  position: relative;
  display: block;
  width: 1310px;
  margin: 0 auto;
  padding-top: 30px;
}
.cs .inner h3 {
  font-family: "binggraebold";
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #1f1f1f;
  margin-bottom: 40px;
}
.cs .inner .content-box {
  display: block;
  width: 100%;
  padding: 90px 40px;
  border-radius: 30px;
  box-shadow: 0 5px 24px 3px rgba(0, 0, 0, 0.1);
}
.cs .inner .content-box .cs-advice {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.email-box {
  width: 590px;
  height: 324px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
  padding: 50px 40px;
  position: relative;
  background: url(../../images/layout/section_cs/sec04_backimg01.png);
  cursor: pointer;
}
.email-box h4 {
  font-family: "binggraebold";
  font-size: 32px;
  font-weight: normal;
  color: #1f1f1f;
  margin-bottom: 30px;
}
.email-box p {
  font-size: 16px;
}
.email-box .viewButton {
  position: absolute;
  display: block;
  width: 160px;
  line-height: 43px;
  text-align: center;
  background: #ed1c24;
  border-radius: 21px;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  bottom: 50px;
  left: 40px;
  transform: translateX(0);
}

.tel-box {
  width: 590px;
  height: 324px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
  padding: 50px 40px;
  background: url(../../images/layout/section_cs/sec04_backimg02.png);
}
.tel-box h4 {
  font-family: "binggraebold";
  font-size: 32px;
  font-weight: normal;
  color: #1f1f1f;
  margin-bottom: 30px;
}
.tel-box .tel {
  font-size: 46.5px;
  font-weight: 600;
  letter-spacing: -0.07em;
  color: #303030;
}
.tel-box p {
  padding-bottom: 25px;
  color: #1f1f1f;
  font-weight: bold;
}
.tel-box p span {
  color: #e0462e;
  margin-left: 15px;
}

.qna {
  position: relative;
}
.qna p {
  font-family: "binggraebold";
  font-size: 23px;
  font-weight: normal;
  padding: 60px 0 30px;
}
.qna .qna-more {
  position: absolute;
  top: 53px;
  right: 0;
  display: block;
  width: 160px;
  text-align: center;
  line-height: 43px;
  border-radius: 21px;
  color: #1f1f1f;
  font-size: 14px;
  border: 1px solid rgba(224, 223, 226, 0.6);
}
.qna .qna-more:hover {
  border: none;
  background-color: #ed1c24;
  color: #fff;
}
.qna-list li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% - 26px);
  margin-bottom: 10px;
  padding: 0 18px;
  background: #f9f9f9;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px rgba(121, 121, 121, 0.1);
  cursor: pointer;
}
.qna-list li:nth-child(2n) {
  float: right;
}
.qna-list li:nth-child(2n+1) {
  float: left;
}
.qna-list li:hover a {
  font-weight: 700;
}
.qna-list li:hover .qna-icon {
  transform: scale(1);
}
.qna-list li a {
  font-size: 18px;
  line-height: 80px;
}
.qna-list li .qna-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: #ed1c24;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.5s ease;
}

.report .inner {
  position: relative;
  display: block;
  width: 1310px;
  margin: 0 auto;
}
.report .inner h3 {
  font-family: "binggraebold";
  font-size: 38px;
  color: #1f1f1f;
  padding: 140px 0 45px;
  text-align: center;
}
.report .inner .report-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
.cyber {
  position: relative;
  width: 630px;
  height: 230px;
  background: #f9f9f9;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px rgba(121, 121, 121, 0.1);
  cursor: pointer;
  padding-top: 80px;
}
.cyber > p {
  font-size: 20px;
  text-align: center;
}
.viewButton {
  position: absolute;
  display: block;
  width: 160px;
  line-height: 43px;
  text-align: center;
  background: #ed1c24;
  border-radius: 21px;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.safe {
  position: relative;
  width: 630px;
  height: 230px;
  background: #f9f9f9;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px rgba(121, 121, 121, 0.1);
  cursor: pointer;
  padding-top: 80px;
}
.safe > p {
  font-size: 20px;
  text-align: center;
}
.viewButton {
  position: absolute;
  display: block;
  width: 160px;
  line-height: 43px;
  text-align: center;
  background: #ed1c24;
  border-radius: 21px;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.footer .inner {
  width: 100%;
  background: #1b1b1b;
  padding: 27px 45px;
}
.footer .inner .f-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-top-right > a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 30px;
}
.f-top-right > a:last-child {
  margin-right: 0;
}

.footer .inner .f-main {
  padding: 30px 0 130px;
}
.footer .inner .f-main p {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 24px;
}
.footer .inner .f-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .inner .f-bottom .service {
  display: none;
}
.footer .inner .f-bottom .copy {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: -0.8px;
}
.f-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-bottom-right .sns .sns-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-bottom-right .sns .sns-list > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  background: #1b1b1b;
  box-shadow: 4px 8px 1px rgba(0, 0, 0, 0.2), inset 0px 4px 10px 2px rgba(73, 73, 73, 0.2);
  border-radius: 50%;
}

.flagship {
  position: relative;
  display: block;
  width: 355px;
  line-height: 70px;
  background: #1b1b1b;
  box-shadow: 4px 8px 1px rgba(0, 0, 0, 0.2), inset 0px 4px 10px 2px rgba(73, 73, 73, 0.2);
  border-radius: 30px;
  margin-left: 60px;
  padding: 0 18px;
}
.flagship .flagship-btn {
  margin-right: 18px;
}
.flagship span {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
}
.flagship span::after {
  content: url(../../images/layout/image_icon/select_btn01.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  right: 20px;
}