.footer {
  .inner {
    width: 100%;
    background: #1b1b1b;
    padding: 27px 45px;
    .f-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .f-logo {
      }
      .f-top-right {
        > a {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.3);
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .f-main {
      padding: 30px 0 130px;
      p {
        font-size: 17px;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 24px;
      }
    }
    .f-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .copy {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.3);
        letter-spacing: -0.8px;
      }
      .f-bottom-right {
        display: flex;
        justify-content: center;
        align-items: center;
        .sns {
          .sns-list {
            display: flex;
            justify-content: center;
            align-items: center;
            > li > a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 70px;
              height: 70px;
              background: #1b1b1b;
              box-shadow: 4px 8px 1px rgb(0 0 0 / 3.6), inset 0px 4px 10px 2px rgb(73 73 73 / 0.3);
              border-radius: 50%;
            }
          }
        }
      }
      .flagship {
        position: relative;
        display: block;
        width: 355px;
        line-height: 70px;
        background: #1b1b1b;
        box-shadow: 4px 8px 1px rgb(0 0 0 / 3.6), inset 0px 4px 10px 2px rgb(73 73 73 / 0.3);
        border-radius: 30px;
        margin-left: 60px;
        padding: 0 18px;
        .flagship-btn {
          margin-right: 18px;
        }
        span {
          font-size: 14px;
          font-weight: 500;
          color: rgba(255, 255, 255, 0.3);
          &::after {
            content: url("../images/layout/image_icon/select_btn01.png");
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            right: 20px;
          }
        }
      }
    }
  }
}
