.footer {
  background: #1b1b1b;
  .inner {
    width: 100%;
    background: #1b1b1b;
    padding: 27px 45px;
    .f-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @at-root .f-top-right {
        > a {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.3);
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .f-main {
      padding: 30px 0 130px;
      p {
        font-size: 17px;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 24px;
      }
    }
    .f-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .service {
        > a {
          display: none;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.4);
          &::after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 10px;
            background: rgba(255, 255, 255, 0.4);
            margin: 0 10px;
          }
          &:last-child::after {
            display: none;
          }
        }
      }
      .copy {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.3);
        letter-spacing: -0.8px;
        // word-break: keep-all;
        white-space: nowrap;
      }
      @at-root .f-bottom-right {
        display: flex;
        justify-content: center;
        align-items: center;
        .sns {
          .sns-list {
            display: flex;
            justify-content: center;
            align-items: center;
            > li > a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 70px;
              height: 70px;
              margin: 0 10px;
              background: #1b1b1b;
              box-shadow: 4px 8px 1px rgb(0 0 0 / 0.2),
                inset 0px 4px 10px 2px rgb(73 73 73 / 0.2);
              border-radius: 50%;
            }
          }
        }
        @at-root .flagship {
          position: relative;
          display: block;
          width: 355px;
          line-height: 70px;
          background: #1b1b1b;
          box-shadow: 4px 8px 1px rgb(0 0 0 / 0.2),
            inset 0px 4px 10px 2px rgb(73 73 73 / 0.2);
          border-radius: 30px;
          margin-left: 60px;
          padding: 0 18px;
          span {
            font-size: 14px;
            font-weight: 500;
            padding-left: 18px;
            color: rgba(255, 255, 255, 0.3);
            &::after {
              content: url("../images/layout/image_icon/select_btn01.png");
              position: absolute;
              top: 50%;
              transform: translateY(-50%) rotate(-90deg);
              right: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .f-top {
    flex-direction: column-reverse;
    .f-top-right {
      margin-bottom: 50px;
    }
  }
  .f-main {
    P {
      text-align: center;
      margin: 0 !important;
    }
  }
  .f-bottom {
    flex-direction: column-reverse;
    .f-bottom-left {
      position: relative;
      width: 100%;
      padding-top: 80px;
      display: flex;
      justify-content: space-between !important;
      .service > a {
        display: inline-block !important;
      }
    }
    .f-bottom-right {
      flex-direction: column;

      .sns-list {
        > li > a {
          width: 45px;
          height: 45px;
        }
      }
      .flagship {
        width: 250px;
        height: 45px;
        margin-top: 13px;
        margin-left: 0 !important;
        padding: 0 !important;
        > .flagship-btn {
          position: relative;
          display: block;
          line-height: 45px;
          img {
            width: 32px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
