.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  // height: 573px;
  // background: pink;
  height: 100%;
  background: url("../../images/layout/header/pc_ham_bg.png") no-repeat;
  background-position: 100% -80px;
  border-radius: 0px 0px 50px 50px;
  z-index: 9999;
  @at-root .header-top {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    .inner {
      width: 1760px;
      height: 31px;
      @at-root .header-link {
        float: right;
        > li {
          position: relative;
          display: block;
          float: left;
          padding: 0 9px;
          &::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 11px;
            width: 2px;
            height: 8px;
            background: rgba(0, 0, 0, 0.3);
          }
          &:last-child {
            padding-right: 0;
          }
          &:first-child::before {
            content: none;
          }
          > a {
            position: relative;
            display: inline-block;
            font-size: 14px;
            line-height: 30px;
            &::after {
              content: "";
              position: relative;
              display: inline-block;
              width: 14px;
              height: 14px;
              vertical-align: -2px;
              background: url("../../images/layout/image_icon/link_arrow02.png");
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  @at-root .header-main {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    .inner {
      width: 1760px;
      height: 116px;
      @at-root .header-logo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 144px;
        height: 35px;
        font-size: 0;
        background: url("../../images/layout/header/logo-pc.png");
      }
      @at-root .header-nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        .header-gnb {
          position: relative;
          display: flex;
          display: none;
          > li {
            position: relative;
            padding: 48px 0px;
            margin-right: 80px;
            &:hover {
              > a {
                color: #e0462e;
                border-bottom: 2px solid #e0462e;
                &:hover::after {
                  content: "";
                }
              }
              a::after {
                content: "";
              }
            }
            > a {
              position: relative;
              padding-bottom: 40px;
              font-size: 20px;
              line-height: 1;
              white-space: nowrap;
              transition: color 0.5s;
              &::after {
                content: none;
                position: absolute;
                right: -10px;
                top: 3px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #e0462e;
              }
            }
            .depth2 {
              position: absolute;
              left: 0;
              top: 118px;
              display: block;
              padding: 17px 0 36px 0;
              > li {
                > a {
                  display: block;
                  padding: 7px 0;
                  font-size: 18px;
                  line-height: 1.5;
                  letter-spacing: 0.2px;
                  white-space: nowrap;
                  transition: color 0.5s;
                  &:hover {
                    color: #e0462e;
                  }
                }
              }
            }
          }
        }
      }
      @at-root .hamburger-menu {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
        @at-root .hamburger-gnb {
          display: flex;
          justify-content: space-between;
          width: 1580px;
          height: 460px;
          > li {
            width: calc(100% / 6 - 5px);
            border: 1px solid #ececed;
            border-radius: 30px;
            padding: 50px 30px;
            > a {
              font-family: "Binggrae";
              font-size: 32px;
            }
            > .depth2 {
              > li {
                > a {
                }
              }
            }
          }
        }
      }
      @at-root .header-main-right {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @at-root .header-lang {
          display: block;
          padding: 3px 0;
          border: 0;
          background: transparent;
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
          float: left;
          &::after {
            content: "";
            position: relative;
            display: inline-block;
            width: 10px;
            height: 5px;
            vertical-align: 2px;
            background: url("../../images/layout/image_icon/lang_btn.png");
            margin-left: 10px;
          }
        }
        > .lang-list {
          position: absolute;
          left: 0;
          top: 30px;
          background: #fff;
          border-radius: 18px;
          padding: 9px 0;
          > li {
            text-align: center;
            > a {
              padding: 9px 16px;
              font-size: 16px;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
        @at-root .header-hamburger {
          display: block;
          width: 26px;
          height: 22px;
          border: 0;
          background: transparent;
          margin-left: 33px;
          cursor: pointer;
          float: left;
          > span {
            display: block;
            width: 26px;
            height: 2px;
            background: #000;
            margin-top: 8px;
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
