.product {
  padding-bottom: 140px;
  .inner {
    .t-product-title {
      font-family: "binggraebold";
      font-size: 38px;
      text-align: center;
      margin-bottom: 47px;
    }
    max-width: 1650px;
    .product-top {
      position: relative;

      .t-prev-arrow {
        position: absolute;
        width: 7px;
        height: 15px;
        border: 0;
        outline: 0;
        opacity: 0.1;
        top: 50%;
        background: transparent;
        left: 0px;
        cursor: pointer;
      }
      .t-next-arrow {
        position: absolute;
        width: 8px;
        height: 15px;
        outline: 0;
        border: 0;
        background: transparent;
        right: 0;
        top: 50%;
        cursor: pointer;
      }
      .t-slide {
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: center;
        .t-flexbox {
          max-width: 1650px;
          .t-slide-img {
            display: flex;
            gap: 18px;
            justify-content: space-between;
            > li {
              transition: all 0.8s;
              &:hover {
                transform: translateY(-10px);
              }
              > a {
                position: relative;
                font-size: 16px;
                > img {
                  display: block;
                  width: 242px;
                  height: 242px;
                  cursor: default;
                }
                .product_title {
                  position: relative;
                  margin-top: 12px;
                  > p {
                    position: absolute;
                    width: 242px;
                    height: 43px;
                    text-align: center;
                    line-height: 43px;
                    border-radius: 21px;
                    color: #1f1f1f;
                    background-color: #f9f9f9;
                  }
                  > .txt-view {
                    position: absolute;
                    display: block;
                    text-transform: uppercase;
                    width: 242px;
                    height: 43px;
                    text-align: center;
                    line-height: 43px;
                    background-color: #e73129;
                    opacity: 0;
                    visibility: hidden;
                  }
                }
                &:hover {
                  .txt-view {
                    opacity: 1;
                    visibility: visible;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .product-bottom {
    .b-product-title {
      font-family: "binggraebold";
      font-size: 38px;
      text-align: center;
      margin-bottom: 55px;
      margin-top: 171px;
      text-transform: uppercase;
    }
    .b-slide {
      display: flex;
      gap: 18px;
      justify-content: space-between;
      align-items: center;
      @at-root .b-prev-arrow {
        position: relative;
        width: 7px;
        height: 15px;
        border: 0;
        opacity: 0.1;
        background: url("../images/layout/image_icon/prev_arrow.png") no-repeat;
        cursor: pointer;
      }
      @at-root.b-next-arrow {
        position: relative;
        width: 8px;
        height: 15px;
        border: 0;
        background: url("../images/layout/image_icon/next_arrow.png") no-repeat;
        cursor: pointer;
      }
      .b-flexbox {
        .b-slide-img {
          display: flex;
          text-align: center;
          line-height: 250px;
          gap: 18px;
          justify-content: space-between;
          > li {
            position: relative;
            display: block;
            width: 242px;
            height: 250px;
            border-radius: 30px;
            border: 1px solid #edecef;
            transition: all 0.7s;
            &:hover {
              transform: translateY(-10px);
              box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
              .hoverbox {
                display: flex;
                opacity: 1;
              }
              .box-img {
                display: none;
                position: relative;
              }
            }
            > a {
              width: 242px;
              height: 250px;
              display: block;
              position: absolute;
              left: 0;
              top: 0;
            }
            .hoverbox {
              opacity: 0;
              width: 242px;
              height: 250px;
              display: none;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: 0;
              top: 0;
              > img {
                display: block;
                transform: scale(0.8);
              }
              > p {
                display: block;
                width: 242px;
                height: 125px;
                font-size: 16px;
                line-height: 1.38;
                &::before {
                  content: "";
                  display: block;
                  width: 20px;
                  height: 1px;
                  background: rgba(0, 0, 0, 0.2);
                  margin: 18px auto;
                }
              }
              > a {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 90%;
                height: 43px;
                background-color: #e73129;
                border-radius: 21px;
                color: #fff;
                line-height: 43px;
              }
            }
          }
        }
      }
    }
  }
}
