.product {
  padding-bottom: 140px;
  .inner {
    .product-top {
      .t-product-title {
        font-family: "binggraebold";
        font-size: 38px;
        text-align: center;
        margin-bottom: 47px;
      }
      .t-slide {
        .t-prev-arrow {}
        .t-next-arrow {}
        .t-slide-img {}
        .t-slide-txt {}
      }
    }
    .product-bottom {
      .b-product-title {
        font-family: "binggraebold";
        font-size: 38px;
        text-align: center;
        margin-bottom: 55px;
      }
      .b-slide {
        .b-prev-arrow {}
        .b-next-arrow {}
        .

      }
    }
  }
}
