@font-face {
  font-family: "binggraebold";
  src: url("font/binggraebold.eot");
  src: url("BinggraeBold.woff2") format("woff2"),
    url("BinggraeBold.woff") format("woff"),
    url("BinggraeBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
